input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.bi-plus-circle, .bi-dash-circle, .bi-trash-fill {
  font-size: 1.45em;
}

.calcs {
  background-color: #194429;
}