html,
body {
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
    padding-right: 0 !important;
    /* Eliminar padding indeseado modales */
    scroll-behavior: smooth;
}

nav,
header,
footer,
.card {
    background-color: #163a24;
}


.content {
    background-color: #f2efe6;
}

.navbar-brand,
h1,
h5,
.slogan {
    font-family: 'Bree Serif', serif;

}


.nav-link {
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

button {
    border: none;
    height: 2.5em;
    font-weight: 600;
}

.pink-btn {
    background: linear-gradient(to right, #fab5a0 50%, #fbc8b8 50%);
    color: #163a24;
}

.green-btn {
    background: linear-gradient(to right, #15762e 50%, #198c36 50%);
    max-width: 10em;
}

.red-btn {
    background: linear-gradient(to right, #ed4c3e 50%, #DB4437 50%);
}

.pink-btn,
.green-btn,
.red-btn {
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .35s ease-out;
}

.pink-btn:hover,
.green-btn:hover,
.red-btn:hover {
    background-position: left bottom;
}

.card-img-top {
    height: 30vh;
    object-fit: cover;
}

.img-container {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    transition: .5s ease;
    height: 0;
}

.img-container:hover .overlay,
.searched .overlay {
    height: 100%;
}

.slogan {
    font-size: 5vw;
}

.footer-bottom {
    background-color: #fbfaf7;
    color: #163a24;
}

.copyleft {
    display: inline-block;
    transform: rotateY(180deg);
}

.map-container {
    height: 100vh;
}


#map {
    height: calc(100vh - 200px);
    border: 2px solid #163a24;
}

@media screen and (min-width: 992px) {
    .link::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 6px;
        left: 0;
        background-color: #f7bc28;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .link:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.add-btn {
    position: relative;
    transition: .3s ease-in-out;
    overflow: hidden;
}

.add-btn:active {
    transform: scale(.9);
}

.add-btn .bi-cart-fill {
    position: absolute;
    top: 50%;
    left: -10%;
    font-size: 2em;
    transform: translate(-50%, -50%);
}

.add-btn .bi-box2-fill {
    position: absolute;
    top: -30%;
    left: 52%;
    font-size: 1.2em;
    transform: translate(-50%, -50%);
}

.add-btn span {
    position: absolute;
    transform: translate(-50%, -50%);
}

.add-btn span.add {
    opacity: 1;
}

.add-btn span.added {
    opacity: 0;
}

.add-btn.clicked .bi-cart-fill {
    animation: cart 1.5s ease-in-out forwards;
}

.add-btn.clicked .bi-box2-fill {
    animation: box 1.5s ease-in-out forwards;
}

.add-btn.clicked span.add {
    animation: add 1.5s ease-in-out forwards;
}

.add-btn.clicked span.added {
    animation: added 1.5s ease-in-out forwards;
}

@keyframes cart {
    0% {
        left: -10%;
    }

    40%,
    60% {
        left: 50.47%;
    }

    100% {
        left: 112%;
    }
}

@keyframes box {

    0%,
    40% {
        top: -30%;
    }

    60% {
        top: 40%;
        left: 51%;
    }

    100% {
        top: 40%;
        left: 112%;
    }
}

@keyframes add {
    0% {
        opacity: 1;
    }

    20%,
    100% {
        opacity: 0;
    }
}

@keyframes added {

    0%,
    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}